{% extends "layout.html" %}

{% block main %}        
<main class="main">
            <br><h1 id="content">Profile</h1>
            <br><img alt="profile" src="images/mizuki.png" width="300" height="300"><br><br>
            <b>自己紹介</b><br>
            1999年、千葉県生まれ。本名は松原瑞貴(Mizuki Matsubara)。<br>
            千葉県立船橋高等学校（理数科）卒業、早稲田大学文化構想学部に在学中の5年生。<br>
            少しでも関心を抱いたらすぐ動く。即断即決。<br>
            興味の赴くまま、<a href="learn.html">茅刈り</a>、村生活、<a href="learn.html">プログラミング</a>、ハムづくり、<br>
            マルシェの売り子、<a href="https://xinlianxin.jpf.go.jp/japanese/news/feel_japan_online/">日中交流イベント</a>開催など様々なことを経験してきました。<br>
            なんでも好きだし、なんでもやってみたい、好奇心旺盛な性格です。<br><br>

            <b>経歴</b><br>
            2018.04 早稲田大学文化構想学部 入学<br>
            2021.04 早稲田大学文化構想学部 休学 (～2021.09)<br>
            2022.04 早稲田大学文化構想学部 休学 (～2022.09(予定))<br>
            2022.04 42Tokyo 入学<br>
            2023.03または2024.03 早稲田大学文化構想学部 卒業見込み<br><br>

            <b>所属</b><br>
            地域・文化・学びと平和構築ゼミ（山西優二ゼミ）<br>
            42Tokyo<br>
            早稲田大学探検部<br><br>

            <b>趣味・好き</b><br>
            写真、お茶、旅行、猫、読書、映画<br><br>

            <b>リンク</b><br>
            <a href="https://twitter.com/uniuni1817">Twitter</a>、
            <a href="https://github.com/mmizuki1817">GitHub</a><br>
            </main>

        </main>

{% endblock %}
